header {
    padding-top: 50px; /*Para que arranque después de la barra de navegación*/
    padding-bottom: 20px;
    padding-left: 70px;
    height: 150px;
    width: 100vw;
    background-color: darkblue;
    color: white;
    position: fixed;
}
header h1 {
    font-size: 3em;
}
.main {
    padding-top: 125px; /*Esto es para que arranque después de la barra de navegación*/
    /*outline: 2px solid black;*/
    font-family: "Raleway", sans-serif;
    width: 100vw;
}
.about-history{
    display: flex;
    justify-content: center;
    height: auto;
    /*outline: 2px solid red;*/
    width: 100vw;
}
.about {
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    flex-shrink:0;
    border-right: 1px solid grey;
}
.history {
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    /*padding: 50px;*/
    flex-shrink: 0;
    /*border-left: 2px solid blue;*/
}
.hbar{
    width: 75vw;
}
.philosophy {
    width: 100vw;
    height: auto;
    text-align: center;
    align-content: center;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    /*outline: 2px solid black;*/
}
.team {
    width: 100vw;
    height: auto;
    text-align: center;
    align-content: center;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    /*outline: 2px solid black;*/
}
.members{
    display: flex;
    justify-content: center;
    /*outline: 2px solid green;*/
}
article {
    width: 10vw;
    /*outline: 2px solid black;*/
}
.img1{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.img2 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.img3 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
