header {
    padding-top: 50px; /*Para que arranque después de la barra de navegación*/
    padding-bottom: 20px;
    padding-left: 70px;
    height: 150px;
    width: 100vw;
    background-color: #a51313;
    color: white;
    position: fixed;
}

header h1{
    font-size: 3em;
}

#games {
    padding: 0 5%;
    padding-top: 150px;
    background-color: #3d3d3d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#games a{
    text-decoration:none;
}

.game-article {
    margin-left: 20px;
    width: 300px;
    height: 350px;
    border: 10px inset #000;
    border-radius: 5%;
    margin: 15px;
    background-color: #000;
    transition: filter .25s;
}

.game-article img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width:100%;
    height: 80%;
    object-fit: cover;
}

.game-article h2 {
        background: linear-gradient(to top, #000 80%, transparent 100%);
        height: 20%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        color: #fff;
        padding: 22px;
}

.game-article:hover{
    filter: brightness(.5);
}

.game-article:active{
    filter: brightness(.75);
}

#carrie {
    padding-top: 5px;
    padding-bottom: 22px;
    padding-right: 22px;
    padding-left: 22px;
}