header {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    height: 150px;
    width: 100vw;
    background-color: darkblue;
    color: white;
    position: fixed;
}
header img{
    height:30px;
    width: auto;
    padding-right: 30px;
}

header h1{    
    display: inline-block;
    font-size: 3em;
}
header h2{        
    display: inline-block;
    font-size: 2em;
}

main{
    background-color: dodgerblue;
    width: 100vw;
}

.page-content{
    padding-top: 180px;
    padding-left: 5%;
    padding-right: 5%;
}

.page-content__row1{
    display:flex;
    justify-content: space-evenly;
}

.mediaplayer-section {
    width: 900px;
    height: 450px;
    flex-shrink: 0;
    margin-right: 50px;
    background-color: black;   
}

.details-section {    
    width: 350px;
    height: auto;
    flex-shrink: 0;
    text-align: justify;
    background-color: #0c0e35;
    border: 5px inset darkblue;
    color: white;
    font-size: 1.25em;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-button{
    text-decoration: none;
    display: block;    
    text-align: center;
    align-content: center;
    margin: 10px auto;
    width: 80%;
    height: 60px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.description-section{
    width: 100%;
    padding: 40px;
    text-align:justify;
    outline: 2px solid white;
}