header {
    padding-top: 3.2em;
    padding-bottom: 1em;
    padding-left: 2em;
    height: 9.2em;
    width: 100vw;
    background-color: #a51313;
    color: #fff;
    position: fixed;
}

header img {
    height:1.9em;
    width: auto;
    padding-right: 1.9em;
}

header img:hover{
    filter: brightness(.75);
}

header img:active{
    filter: brightness(.5);
}

header h1 {
    display: inline-block;
    font-size: 3em;
}

main {
    background-color: #3d3d3d;
    width: 100vw;
    color: white;
}

.page-content {
    padding-top: 9.5em;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 3em;
    font-size: 1.25em;
}

.page-content h2{
    font-size: 2em;
    padding-bottom: 0.75em;
}

.flex-section{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
}

.flex-section img{
    border: .25em inset #a51313;
}

/*Necesita un color de fondo una foto en particular*/
#rotobox-image {
    background-color: #6c4b23;
}

@media only screen and (min-width: 600px) {
    /*Mobile*/
    .flex-section p {
        width: 100%;
    }

    .flex-section img {
        width: 100%;
        margin-top: 1.75em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1300px) {
    /*Desktop*/
    .flex-section p {
        width: 50%;
    }
    .flex-section img {
        width: 45%;
        margin-top: 1.75em;
        margin-left: 2em;
        margin-right: .75em;
        margin-bottom: .75em;
    }
}