/*Slider de fotos*/

.lista-fotos, lista-menu{
    list-style:none;
}

.lista-fotos{
    position:relative;
    width: 100vw;
    height: 600px;
}

.lista-fotos li{
    position: absolute;
    left:0;
    top:70px; /*Esto es para que arranque después de la barra de navegación*/
    opacity:0;
    width:inherit;
    height:inherit;    
    transition: opacity .5s;
}

#slide1, #slide3{
    background-color: #000;
}
#slide2{
    background-color: #6c4b23;
}

.lista-fotos li img{
    width:100%;
    height: 600px;
    object-fit: contain;
}

.lista-fotos li:first-child{
    opacity: 1;
}

.lista-menu{
    text-align: center;
    margin: 20px;
    position: relative;
}

.lista-menu li{
    display: inline-block;
    text-align: center;
}

.lista-menu li a{
    display: inline-block;
    text-decoration: none;
    background-color: #681010;
    width:30px;
    height:30px;
    font-size: 20px;
    border-radius:100%;
    text-align: center;
    align-content: center;
    color: #fff;
}

.lista-fotos li:target{
    opacity:1;
}

/*Sección de juegos*/
.games-section{
    background-color: #3d3d3d;    
}

.gs__title-section {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    background-color: #a51313;
}

.gs__title-section h1{
    width: 220px;
    height:80px;
    font-size:3em;
    margin:0;
    align-content: center;
    padding:0 40px;
    color: #fff;
}

.gs__title-section a{
    text-decoration: none;
    width:350px;    
    height: 80px;
    font-size: 1.2em;
    align-content:center;
    padding-top: 10px;
    padding-left: 20px;
    color: #000;
    transition: color .5s;
}

.gs__title-section a:hover{
    color:#fff;
}

.gs__title-section a:active{
    color:#808080;
}

.gs__article-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-evenly;
    padding: 20px;
}

.gs__article-section a{
    text-decoration: none;
    padding:10px;
}

.game-article{
    margin-left: 20px;
    width: 300px;
    height: 350px;
    border: 10px inset #000;
    border-radius: 5%;    
    background-color: #000;
    transition: filter .25s;
}

.game-article img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height:80%;
    width:100%;
    object-fit:cover;
}

.game-article h2{
    background: linear-gradient(to top, #000 80%, transparent 100%);
    height: 20%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    color: #fff;    
    padding: 22px;
}

.game-article:hover{
    filter: brightness(.5);
}

.game-article:active{
    filter: brightness(.75);
}